<html>
<body>
{% for items in error.values %}
    {{items}}
{% endfor %}
{% load crispy_forms_tags %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    Username:<br>
    {{form.username}}<br>
    {{form.email_field|as_crispy_field}}<br>
    {{form.first_name|as_crispy_field}}<br>
    Password:<br>
    {{form.password1}}<br>
    {{form.password2|as_crispy_field}}<br>
    {{form.last_name|as_crispy_field}}<br>
    {{form.description|as_crispy_field}}<br>
    {{form.profile_image|as_crispy_field}}<br>
    {{form.is_seller|as_crispy_field}}<br>
    <input type="submit" value="Submit Query">
</form>

</body>

</html>