{% include 'header_template.html' %}
{% load widget_tweaks %}
{% load static %}
<html>
<center>
<div style="width:500px">
    {% for message in messages %}
    {{message}}
{% endfor %}
<form method="POST">
    {% csrf_token %}
    <h4>Username:</h4>
    {% render_field form.username %}
    <h4>Password:</h4>
    {% render_field form.password %}
    <input type="submit" style="background: url({% static 'images/login_button.jpeg' %}); width:200px;height:50px" value="">
</div>
    </center>
</form>
</html>