<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
    {% endfor %}
</div>

{% for property_object in property_images %}
 <img src ="{{property_object.property_image.url}}" height="400" width="400">
{% endfor %}



#WORKINH

{% load static%}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/image_slideshow.css' %}">
</head>
<body>
{{property}}
<div class="slideshow-container" style="border: 1px solid black; width:500px; height: 500px">
    {% for property_object in property_images %}
  <div class="mySlides fade">
    <div class="numbertext">{{property_images.index.property_object}} </div>
    <img src ="{{property_object.property_image.url}}" width="500px" height="500px">
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
    {% endfor %}
<br>
<script src="{% static 'js/image_slideshow.js' %}"></script>
</body>
</html>

{% for i in no_of_images %}
{{i}}
{% endfor %}