{% include 'header_template.html' %}
<html>
{% load widget_tweaks %}

<body>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if errors %}
    ERRORS:
    {% if image_error %}
        <h5 style="margin-left:10px"><li>Image Error: {{image_error}}</li></h5>
    {% endif %}
    {% for field in property_form %}
    <h5 style="margin-left:10px">{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}</h5>
				{% endfor %}
    {% endif %}
    Title:{% render_field property_form.property_title %}<br>
    City:<br>  <select name="select_city" style="width:200px;height:30px;float:left;margin-left:2px;margin-top:10px" class="btn btn-secondary dropdown-toggle">
                <option selected="selected" value="Kanpur">Kanpur</option>
                <option value="New Delhi">New Delhi</option>
                <option value="Ghaziabad">Ghaziabad</option>
                <option value="Chandigarh">Chandigarh</option>
            </select>
    <br><br>
    State:
    <br><select name="select_state" style="width:200px;height:30px;float:left;margin-left:2px;margin-top:10px" class="btn btn-secondary dropdown-toggle">
                <option selected="selected" value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Delhi">Delhi</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Punjab">Punjab</option>
            </select>
    <br><br>
    Address:{% render_field property_form.property_address %}<br>
    PIN Code:{% render_field property_form.property_pin %}<br>
    Price:{% render_field property_form.property_price %}<br>
    Bedroom:{% render_field property_form.property_bedroom %}<br>
    Bathroom:{% render_field property_form.property_bathroom %}<br>
    Square Feet:{% render_field property_form.property_sq_feet %}<br>
    Lot Size:{% render_field property_form.property_lot_size %}<br>
    Garage:{% render_field property_form.property_garage %}<br>
    Description:{% render_field property_form.property_description %}<br>
    Upload Images:{% render_field property_image.Property_Images multiple=True %}<br>

    <input type="submit" value="Submit Property">
</form>
</body>
</html>