
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Casa</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />
<!-- css -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}" media="screen,projection" />
<link href="{% static 'css/css_template/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/css_template/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
<link href="{% static 'css/css_template/flexslider.css' %}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'css/css_template/zoomslider.css' %}" />
<link href="{% static 'css/css_template/style.css' %}" rel="stylesheet" />



<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

<div id="wrapper" class="home-page">
	<!-- start header -->
	{% include 'header_template.html' %}
	<!-- end header -->
	<section id="banner">

	<!-- Slider -->
	<div id="demo-1" data-zs-src='["{% static 'img/photos/img1.jpg' %}", "{% static 'img/photos/img2.jpg' %}", "{% static 'img/photos/img3.jpg' %}"]' data-zs-overlay="dots">
		<div class="demo-inner-content">
			<h1><span>CASA</span></h1><br/>
			<p>International Real Estate Venture</p>
		</div>
	</div>
	<!-- end slider -->
<header>
    <div class="navbar navbar-default navbar-static-top">
        <form method="POST" style="margin-top:10px" action="{% url 'propertyapp:searchproperty' %}">
            {% csrf_token %}
            <div class="md-form active-purple active-purple-2 mb-3" style="width:40%;margin-left:20px;margin-top:10px;float:left">
                <input type="text" name="search_text" value="" placeholder="Enter Property Title">
            </div>
            <select name="select_city" style="width:200px;float:left;margin-left:15px;margin-top:10px" class="btn btn-secondary dropdown-toggle">
                <option selected="selected" disabled>Select City</option>
                <option value="Kanpur">Kanpur</option>
                <option value="New Delhi">New Delhi</option>
                <option value="Ghaziabad">Ghaziabad</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="All Cities">All Cities</option>
            </select>
             <select name="select_state" style="width:200px;float:left;margin-left:15px;margin-top:10px" class="btn btn-secondary dropdown-toggle">
                <option selected="selected" disabled>Select State</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Delhi">Delhi</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Punjab">Punjab</option>
                <option value="All States">All States</option>
            </select>
            <input class="btn btn-secondary dropdown-toggle" type="submit" value="Search Property" style="margin-left:10px;margin-top:10px; width:20%">
        </form>
    </div>
    </header>
	</section>
		<section class="projects">
		<div class="container">
	 	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Our Featured Properties</h2>Following are the most recent properties posted</div>
				<br/>
			</div>
		</div>

	<div class="row service-v1 margin-bottom-40">
            {% for item in final_property %}
            <div class="col-md-4 md-margin-bottom-40">
					<div class="card small">
                        <div class="card-image">
                            <div>
                                <img class="img-responsive" src="{{item.1.property_image.url}}" style="max-width:100%;height:200px">
                                <div class="top-left" style="position: absolute;top: 8px;left: 16px">
                                    {% if item.0.id|divisibleby:2%}
                                        <div class="btn btn-details" style="width:80px;height:35px">BUY</div>
                                    {% else %}
                                        <div class="btn btn-details" style="width:80px;height:35px">RENT</div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <div class="card-content">
                            <p>
                                <span class="price">{{item.0.property_price}}</span>
								<h4>{{item.0.property_title}}</h4>
								<h5>{{item.0.property_city}}</h5>
                            {% ifequal item.0.property_poster request.user %}
                                        <a href="{%url 'propertyapp:existingproperty' id=item.0.id %}" class="btn btn-details">UPDATE</a>
                                    {% else %}
                                      <a href="{%url 'propertyapp:existingproperty' id=item.0.id %}" class="btn btn-details">DETAILS</a>
                                    {% endifequal %}



                            </p>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
		</div>
		</section>
	<section id="content">
	<div class="container">

		<section class="services">
	    	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Amenities</h2></div>
				<br/>
			</div>
		</div>

	 <div class="row">
            <div class="col-sm-4 info-blocks">
				<i class="icon-info-blocks material-icons">track_changes</i>
                <div class="info-blocks-in">
                    <h3>Kids Play Area</h3>
                    <p>All the kids in the society can play various games and sports</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">settings_input_svideo</i>
                <div class="info-blocks-in">
                    <h3>Gym</h3>
                    <p>Hi quality equipments available for use 24x7</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">queue_music</i>
                <div class="info-blocks-in">
                    <h3>Running Track</h3>
                    <p>Atleast a minimum of 3 mile space for runners</p>
                </div>
            </div>
        </div>
<div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">my_location</i>
                <div class="info-blocks-in">
                    <h3>Swimming</h3>
                    <p>Swimming pools available during summer for kids and family</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">shuffle</i>
                <div class="info-blocks-in">
                    <h3>Club House</h3>
                    <p>Enjoy all the fun activities and functions going on in the society's club house</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">tab_unselected</i>
                <div class="info-blocks-in">
                    <h3>24/7 Security</h3>
                    <p>Good security and 24x7 surveillance around the block</p>
                </div>
            </div>
        </div>
		</section>
	</div>
	</section>

	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>Our Team</h2>
						<p>Django Boys</p>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-6 col-sm-6">
					<div class="about-image">
						<img src="{% static 'img/about.jpg' %}" alt="About Images">
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
					<h3>About Us</h3>
						<p>We are a team of highly dedicated programmers, working 24x7 if need be just to finish the project in time</p>
						<a href="#" class="btn btn-primary waves-effect waves-dark">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</section>



</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up HillSide"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/js_template/jquery.js' %}"></script>
<script src="{% static 'js/js_template/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'materialize/js/materialize.min.js' %}"></script>
<script src="{% static 'js/js_template/bootstrap.min.js' %}"></script>
<script src="{% static 'js/js_template/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/js_template/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'js/js_template/jquery.flexslider.js' %}"></script>
<script src="{% static 'js/js_template/animate.js' %}"></script>
<!-- Vendor Scripts -->
<script src="{% static 'js/js_template/modernizr.custom.js' %}"></script>
<script src="{% static 'js/js_template/jquery.zoomslider.min.js' %}"></script>
<script src="{% static 'js/js_template/jquery.isotope.min.js' %}"></script>
<script src="{% static 'js/js_template/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/js_template/animate.js' %}"></script>
<script src="{% static 'js/js_template/custom.js' %}"></script>
</body>
</html>
