{% include 'header_template.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casa</title>
</head>
<body>
{% ifequal request.session.current_user|slugify object.property_poster|slugify %}
<form method="POST">
    {% csrf_token %}
    <h4>Confirm To Delete Property: <br>{{object.property_title}} ??</h4>
    <button type="submit"><img src="{% static 'images/confirm_button.jpg' %}" width="100px" height="100px"></button>

</form>
{% endifequal %}

</body>
</html>