{% include 'header_template.html' %}
{% include 'dashboard.html' %}

<div class="container">
<div class="span3 well">
    {% if final_properties %}
        <table>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Options</th>
            </tr>

                    {% for property in final_properties %}
                        <tr style="height:150px">
                            <td><img src="{{property.1.property_image.url}}" style="width:200px;height:130px;object-fit:cover;margin-left:8px"></td>
                            <td> {{property.0.property_title}}</td>
                            <td>{{property.0.property_description}}</td>
                            <td>{{property.0.property_price}}</td>
                            <td>
                                <a href="{% url 'propertyapp:existingproperty' id=property.0.id %}" style="text-decoration:none"><input type="submit" value="Update"></a>
                                <a href="{% url 'propertyapp:deleteproperty' pk=property.0.id %}" style="text-decoration:none"><input type="submit" value="Delete"></a>
                            </td>
                        </tr>
                     {% endfor %}
        </table>
    {% else %}
        <h4>No properties posted yet</h4>
    {% endif %}
</div>
</div>
<div class="container">
<div class="span3 well">
{% if queries_for_seller %}
    <center>
        <h4>Queries Made by User</h4>

    <table>
        <tr>
            <th>Buyer's email</th>
            <th>Time</th>
            <th>Property</th>
            <th>Query</th>
        </tr>
    {% for queries in queries_for_seller %}
        <tr>
            <td>
                {{queries.enquiry_user.email_field}}
            </td>
            <td>
                {{queries.date}}
            </td>
            <td>
                {{queries.property.property_title}}
            </td>
            <td>
                {{queries.description}}
            </td>
        </tr>
      {% endfor %}
    </table>
    </center>
{% else %}
    <h4>No queries made yet for your posted properties</h4>
{% endif %}
</div>
</div>


